
    


body {
    font-family: Arial;
    margin: 0;
    padding: 0%;
}


header {
    padding: 50px;
    text-align: center;
    background-color: blue;
    
    
   
}





aside {
    flex: 50px;
    background-color: white;
    padding: 10%;
   
}

section{
    flex: 100%;
     background-color:white;
    padding: 100px;  
    text-align: center;
}


nav {
    display: flex;
    flex-direction: row;
    color: blue;
    background-color: white(51, 51, 51);
}



   

@media (max-width:600px){

 .contenedor{
     background-color: blue;
     
 }
  header{

    flex-direction: column;
    align-items: center;
    padding: 50%;

  } 






main {
    flex: 75%;
    background-color: rgb(170, 24, 24);
    padding: 20px;
}



footer {
    text-align: center;
    padding: 50%;
    background-color:rgb(255, 0, 0) ;
}

}